<% provide(:title, 'Search') %>
<div class="row">
    <div class="col-md-12 search-area">
        <h1>Auto-Database</h1>
        
    <%= form_tag( results_path, method: "get", class: 'form-inline' ) do %>
        <div class="form-group">
        <%= text_field_tag :q, nil, placeholder: 'Search by make or model', class: 'search-bar form-control' %>
        <%= submit_tag "Search", class: 'btn btn-primary' %>
        </div>
    <% end %>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="subscription-box">
            <center>
                <h3>Sign up for our newsletter!</h3>
                <%= form_tag(subscribe_path, method: "get") do  %>
                <div class="form-group">
                  <%= text_field_tag :email, nil, placeholder: 'Email Address', class: 'subscribe-bar form-control' %>
                  <%= submit_tag "Subscribe!", class: 'btn btn-success' %>
                </div>  
                <% end %>
                <p>Don't worry, we don't spam.</p>
            </center>
        </div>
        
        <div class="recently-added">
            <center><h3>Recently Added</h3></center>
            <ul>
                <% @recents.each do |recent| %>
                <li class="recently-added-item"><%= link_to "#{recent.manufacturer.to_s} #{recent.name.to_s}", show_path(recent.id)%></li> <br />
                <% end %>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <!-- DEVELOPMENT WARNING // REMOVE BEFORE PRODUCTION -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                Auto-Database is in development:
            </div>
            <div class="panel-body">
                We're still working on implementing all the features we have in mind. Please be patient with us!
                If you come across an error, please <%= link_to 'contact us', contact_path %> with as many details 
                as possible. Thanks.
            </div>
        </div>
        <!-- END DEVELOPEMENT WARNING -->
        <!-- NEWS PANEL SECTION -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                News
            </div>
            <div class="panel-body">
                <span class="news-item"><b>8 November 2016</b> - Added this news section. </span>
            </div>
        </div>
        <!-- END NEWS PANEL SECTION -->
    </div>
</div>